.App {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body,
html,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

html {
  background-color: rgb(255, 25, 25);
}

h1,
h2,
h3 {
  color: rgba(255, 255, 255, 0.65);
}
